---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
---

<script>
  const localStorage = window.localStorage;
  let theme = localStorage.theme;

  if (
    theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
    localStorage.theme = "dark";
  } else {
    document.documentElement.classList.remove("dark");
    localStorage.theme = "light";
  }

  document.getElementById("darkMode")?.addEventListener("click", () => {
    localStorage.theme = localStorage.theme === "dark" ? "light" : "dark";
    document.documentElement.classList.toggle("dark");
  });
</script>

<Layout title="Bryan W McGahan">
  <main class="relative xl:container xl:mx-auto">
    <Nav />
    <div
      id="bwmmwb"
      class="mx-8 h-[90vh] flex flex-row space-x-4 overflow-hidden"
    >
      <div class="flex flex-col justify-center w-1/2 h-full">
        <div class="mb-4">
          <h2 class="text-4xl font-bold text-peachRed">Bryan McGahan</h2>
        </div>
        <div>
          <p class="font-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae
            semper quis lectus nulla at volutpat diam ut venenatis. Mattis
            molestie a iaculis at erat pellentesque adipiscing commodo elit.
            Tempus urna et pharetra pharetra massa massa. Ut porttitor leo a
            diam sollicitudin.
          </p>
        </div>
      </div>
      <div
        id="scrollable"
        class="w-1/2 overflow-y-scroll h-full snap-mandatory snap-y space-y-4 scroll-smooth"
      >
        <div
          class="h-full snap-center flex flex-col items-center border pt-8"
          id="projects"
        >
          <p class="font-bold text-2xl">Projects</p>
        </div>
      </div>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  #scrollable::-webkit-scrollbar {
    display: none;
  }

  #scrollable {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
</style>
