---
import Layout from "../layouts/Layout.astro";
import TopNav from "../components/topnav.astro";
import SideNav from "../components/sidenav.astro";
import Footer from "../components/footer.astro";
import Content from "../components/content.astro";
import DarkModeButton from "../components/darkmodebutton.astro";
import MobileNav from "../components/mobilenav.astro";
---

<script>
  const localStorage = window.localStorage;
  let theme = localStorage.theme;

  if (
    theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark");
    localStorage.theme = "dark";
  } else {
    document.documentElement.classList.remove("dark");
    localStorage.theme = "light";
  }

  document.getElementById("darkMode")?.addEventListener("click", () => {
    localStorage.theme = localStorage.theme === "dark" ? "light" : "dark";
    document.documentElement.classList.toggle("dark");
  });
</script>

<Layout title="Bryan W McGahan">
  <main class="md:container md:mx-auto">
    <SideNav />
    <div class="px-10 lg:px-40">
      <TopNav />
      <Content />
    </div>
  </main>
  <MobileNav />
  <DarkModeButton />
</Layout>

<style>
  #scrollable::-webkit-scrollbar {
    display: none;
  }

  #scrollable {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
</style>
