---
---

<nav class="flex flex-row justify-between items-center py-4">
  <div>
    <a href="/" class="text-2xl font-bold text-waveBlue">bwmmwb</a>
  </div>
  <div class="flex flex-row space-x-12">
    <div>
      <a href="#projects" class="font-light text-waveBlue">Projects</a>
    </div>
    <div>
      <a href="#resume" class="font-light text-waveBlue">Resume</a>
    </div>
  </div>
</nav>

<style>
</style>
