---
---

<nav class="py-4">
  <div class="flex flex-row justify-center align-sub px-10">
    <div class="">
      <p class="text-2xl font-extrabold text-peachRed">
        bwmmwb<span class="text-waveBlue italic text-lg">.dev</span>
      </p>
    </div>
  </div>
</nav>

<style></style>
